@import url('https://fonts.googleapis.com/css2?family=Klee+One&display=swap');
.project_content{
    font-family: Klee One,sans-serif;
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: center;
    margin: 200px 0;
    align-items: center;
    padding-top: 100px;
}
.project_content>.projects{
    display: flex;
    width:80vw;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
}

.project_content>center>h1{
    padding-bottom: 15px;
}
.project_content>center>p{
    padding-bottom: 20px;
}
