@import url('https://fonts.googleapis.com/css2?family=Klee+One&display=swap');
.experienceContainer{
    color: white;
    margin-top: 50px;
    margin-left: 170px;
    margin-right: 170px;
    text-align: center;
    font-family: Klee One,sans-serif;
}
.experienceContainer>h1{
    padding-top: 80px;
    padding-bottom: 40px;
}
.experienceContainer>p{
   line-height: 20px;
}
.experienceContainer>.experience_content{
    background-color: #f64c08;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
}