@import url('https://fonts.googleapis.com/css2?family=Klee+One&display=swap');
.skillcontainer{
    font-family: Klee One,sans-serif;
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 50px;

}
.skills{
    color: white;
    flex: 0.6;
    text-align: left;
    max-width: 500px;
    margin-bottom: 20px;
    margin-top: 30px;

}
.skills>h2{
    font-size: 30px;
}
.skill_container > img{
    width: 600px;
    border-radius:3px;
    object-fit: contain;
    height: 300px;
    margin-top: 60px;
}
.skills_set>h5{
     font-family: sans-serif;
     margin-bottom: 5px;
}
.MuiLinearProgress-colorPrimary {
    background-color: rgb(182 168 170);
}
.skills_set4>.skill4>div>.MuiLinearProgress-barColorPrimary {
    background-color: #450dbd;
}
.skills_set2>.skill2>div>.MuiLinearProgress-barColorPrimary {
    background-color: #fe00f2;
}
.skills_set3>.skill3>div>.MuiLinearProgress-barColorPrimary {
    background-color: #eeff00;
}
.skills_set1>.skill1>div>.MuiLinearProgress-barColorPrimary {
    background-color: #00ff08;
}
.skills_set5>.skill5>div>.MuiLinearProgress-barColorPrimary {
    background-color: #dc0000;
}

.skills{
    display: flex;
    flex-direction: column;
    row-gap: 17px;
}