@import url('https://fonts.googleapis.com/css2?family=Klee+One&display=swap');
.contactContainer>.space{
    height: 250px;
}
.contactContainer{
    color:white;
    text-align: center;
    font-family: Klee One,sans-serif;
    padding-top: 200px;
}
.contactContainer>h1{
    padding-bottom: 30px;
}
.contactContainer>.div>center>table>tr>td{
    padding: 10px;
}
.contactContainer>.div>.icons{
    padding-top: 20px;
    
}
.contactContainer>.div>.icons>a{
   padding: 20px;
}
.contactContainer>.div>.icons>a>i{
    font-size: 20px;
}